<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.studygram.mapper.CommentMapper">
    <resultMap id="commentResultMap" type="com.studygram.domain.Comment">
        <id column="idx" property="idx"/>
        <result column="post_id" property="postId"/>
        <result column="user_id" property="userId"/>
        <result column="content" property="content"/>
        <result column="created_date" property="createdDate"/>
        <result column="updated_date" property="updatedDate"/>
        <!-- collection 태그는 마지막 -->
        <collection property="tags" column="post_id" javaType="java.util.ArrayList" ofType="com.studygram.domain.Tag" select="getTagListByPostId" />
    </resultMap>

    <select id="findByPostId" resultMap="commentResultMap">
        select t1.idx as idx, t1.post_id as post_id, t2.idx as user_id, t2.user_name, t1.content as content
            from comment t1
                left join user t2 on t1.user_id = t2.idx
            where 1 = 1
              and t1.post_id = #{postId}
        order by t1.idx desc
    </select>
    <select id="getTagListByPostId" resultType="com.studygram.domain.Tag">
        select *
            from tag
            where post_id = #{postId}
    </select>

    <select id="findByCommentId" resultType="Comment">
        select t1.idx as idx, t1.post_id as post_id, t2.idx as user_id, t2.user_name, t1.content as content
            from comment t1
                 left join user t2 on t1.user_id = t2.idx
        where t1.idx = #{commentId}
    </select>

    <insert id="save" parameterType="Comment">
        insert into comment(post_id, user_id, content)
            values (#{postId}, #{userId}, #{content})
    </insert>

    <update id="update" parameterType="Comment">
        update comment set content = #{content}, updated_date = #{updatedDate}
        where post_id = #{postId}
    </update>

    <delete id="deleteByCommentId">
        delete from comment where idx = #{commentId}
    </delete>
    <delete id="deleteByPostId">
        delete from comment where post_id = #{postId}
    </delete>

    <select id="findComments" parameterType="Integer" resultType="Comment">
        select * from comment where post_id = #{idx}
    </select>
</mapper>