<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.studygram.mapper.CommentMapper">
    <select id="selectCommentsListByPostID" resultType="Comment">
        select idx, post_id, user_id, contents
            from comment comm, user usr
            where comm.user_id = usr.idx
              and comm.post_id = #{postId}
        order by idx desc
    </select>
    <insert id="insertComment" parameterType="Comment">
        insert into comment(post_id, user_id, contents)
            values (#{postId}, #{userId}, #{contents})
    </insert>

    <update id="updateComment" parameterType="Comment">
        update comment set contents = #{contents}, updated_date = #{udatedDate}
        where post_id = #{postId}
    </update>

    <delete id="deleteCommentByCommentID">
        delete comment where comment_id = #{commentId}
    </delete>
    <delete id="deleteCommentByPostID">
        delete comment where post_id = #{postId}
    </delete>


</mapper>