<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.studygram.mapper.FollowMapper">
    <insert id="saveFollow" parameterType="Follow">
        insert into follow (from_user_idx, to_user_idx)
            values(#{fromUserIdx}, #{toUserIdx})
    </insert>
    <delete id="saveUnfollow" parameterType="Follow">
        delete from follow
            where from_user_idx = #{fromUserIdx} and to_user_idx = #{toUserIdx}
    </delete>
    <select id="getFollowInfo" parameterType="Follow" resultType="Follow">
        select * from follow
            where from_user_idx = #{fromUserIdx} and to_user_idx = #{toUserIdx}
    </select>
    <select id="countFollowers" resultType="int">
        select count(*) from follow
            where to_user_idx = #{userIdx}
    </select>
    <select id="countFollowersByUserName" parameterType="String" resultType="Integer">
        SELECT count(*) FROM follow WHERE from_user_idx = (SELECT idx FROM `user` WHERE user_name=#{userName})
    </select>
    <select id="countFollowersByClientId" parameterType="String" resultType="Integer">
        SELECT count(*) FROM follow WHERE from_user_idx = (SELECT idx FROM `user` WHERE client_id=#{clientId})
    </select>
    <select id="countFollowings" resultType="int">
        select count(*) from follow
            where from_user_idx = #{userIdx}
    </select>
    <select id="countFollowingsByUserName" parameterType="String" resultType="Integer">
        SELECT count(*) FROM follow WHERE to_user_idx = (SELECT idx FROM `user` WHERE user_name=#{userName})
    </select>
    <select id="countFollowingsByClientId" parameterType="String" resultType="Integer">
        SELECT count(*) FROM follow WHERE to_user_idx = (SELECT idx FROM `user` WHERE client_id=#{clientId})
    </select>
    <select id="getFollowers" resultType="Integer">
        select count(*) from follow
            where to_user_idx = #{userIdx}
    </select>
    <select id="getFollowings" resultType="Integer">
        select count(*) from follow
        where from_user_idx = #{userIdx}
    </select>
    <select id="getSuggestions" resultType="User">
        // 내 친구의 친구 (겹치는 친구 많을수록,..?)
        // 나는 팔로우 안했는데 걔는 날 팔로우해 ? 고맙다-> 우선순위 1등
        // 3개 정도 뽑아주고, 정렬....... 우선순위 안되면 가나다 순으로
            select
                from user
            where
                order by user.full_name
                limit 3;
    </select>

</mapper>