<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.studygram.mapper.LikeMapper">
    <insert id="save" parameterType="Like">
        insert into `like` (post_idx, user_idx)
        values(#{postId}, #{userId})
        <selectKey resultType="int" keyProperty="idx" order="AFTER">
            SELECT IFNULL(MAX(like.idx), 1) FROM `like`
        </selectKey>
    </insert>
    <select id="findLikes" parameterType="Integer" resultType="Like">
        select * from `like` where post_idx = #{idx}
    </select>
    <select id="findLikesByPostId" parameterType="Integer" resultType="Like">
        select `like`.idx, post_idx, comment_idx, like.user_idx, `user`.user_name
            from `like`
                left join `user` on `like`.user_idx = `user`.idx
        where 1 = 1
          and post_idx = #{idx}
    </select>

    <select id="findLikesByCommentId" parameterType="Integer" resultType="Like">
        select `like`.idx, post_idx, comment_idx, like.user_idx, `user`.user_name
        from `like`
                 left join `user` on `like`.user_idx = `user`.idx
        where 1 = 1
          and comment_idx = #{commentIdx}
    </select>

    <select id="findLikeCntByPostId" parameterType="Integer" resultType="Integer">
        select count(*)
            from `like`
            where 1 = 1
              and post_idx = #{postId}
    </select>
    <select id="findByPostUser" parameterType="Integer" resultType="Like">
        select * from `like` where post_idx = #{postId} and user_idx = #{userId}
    </select>
    <select id="hasLikedPost" parameterType="Integer" resultType="boolean">
        select IF(COUNT(*) >= 1, 1, 0)
            from `like`
            where post_idx = #{postId} and user_idx = #{userId}
    </select>
    <select id="countAll" resultType="int">
        SELECT COUNT(*) FROM `like`
    </select>
    <select id="randOneIdx" resultType="Like">
        SELECT * FROM `like` p ORDER BY RAND() LIMIT 1;
    </select>
    <delete id="delete" parameterType="Like">
        delete from `like` where post_idx = #{postId} and user_idx = #{userId}
    </delete>
</mapper>