<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.studygram.mapper.LikeMapper">
    <insert id="save" parameterType="Like">
        insert into `like` (post_id, user_id)
        values(#{postId}, #{userId})
        <selectKey resultType="int" keyProperty="idx" order="AFTER">
            SELECT IFNULL(MAX(like.idx), 1) FROM `like`
        </selectKey>
    </insert>

    <select id="findLikesByPostId" parameterType="Integer" resultType="Like">
        select `like`.idx, post_id, comment_id, like.user_id, `user`.user_name
            from `like`
                left join `user` on `like`.user_id = `user`.idx
        where 1 = 1
          and post_id = #{idx}
    </select>

    <select id="findLikesByCommentId" parameterType="Integer" resultType="Like">
        select `like`.idx, post_id, comment_id, like.user_id, `user`.user_name
        from `like`
                 left join `user` on `like`.user_id = `user`.idx
        where 1 = 1
          and comment_id = #{idx}
    </select>
</mapper>