<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.studygram.mapper.PostMapper">
    <insert id="save" parameterType="Post">
        insert into post (user_id, content)
            values(#{userId}, #{content})
        <selectKey resultType="int" keyProperty="idx" order="AFTER">
            SELECT IFNULL(MAX(post.idx), 1) FROM post
        </selectKey>
    </insert>
    <resultMap id="postResultMap" type="com.studygram.domain.Post">
        <id column="idx" property="idx"/>
        <result column="user_id" property="userId"/>
        <result column="content" property="content"/>
        <result column="created_date" property="createdDate"/>
        <result column="updated_date" property="updatedDate"/>
        <collection property="tags" column="idx" javaType="java.util.ArrayList" ofType="com.studygram.domain.Tag" select="com.studygram.mapper.TagMapper.findTags" />
        <collection property="likes" column="idx" javaType="java.util.ArrayList" ofType="com.studygram.domain.Like" select="com.studygram.mapper.LikeMapper.findLikes" />
        <collection property="comments" column="idx" javaType="java.util.ArrayList" ofType="com.studygram.domain.Comment" select="com.studygram.mapper.CommentMapper.findComments" />
    </resultMap>

    <select id="findById" resultMap="postResultMap">
        select post.idx as idx, post.user_id as user_id, post.content as content, post.created_date as created_date, post.updated_date as updated_date
            from post
            left join tag on tag.post_id = post.idx
            left join `like` on `like`.post_id = post.idx
            left join comment on comment.post_id = post.idx
            where post.idx = #{idx}
            order by post.idx desc
    </select>
    <select id="findAll" resultType="Post">
        select * from post
    </select>
    <update id="update" parameterType="Post">
        update post set content =#{content} where idx = #{idx}
    </update>
    <delete id="delete" parameterType="Post">
        delete from post where idx = #{idx}
    </delete>
    <select id="findPosts" parameterType="Integer" resultType="Post">
        select * from post where tag_id = #{idx}
    </select>
</mapper>