<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.studygram.mapper.SearchMapper">
    <select id="searchPostList" parameterType="String" resultType="integer">
      select idx from post
          where 1 = 1
            and post.content CONCAT('%', #{keyword}, '%')
            and post.idx in (select user.idx
                             from user
                            where public_type = 'Y')
    </select>

    <select id="searchTagList" parameterType="String" resultType="Tag">
        select * from tag
            where 1 = 1
              and content like CONCAT('%', #{keyword}, '%')
    </select>

    <select id="searchAccountList" parameterType="String" resultType="Integer">
        select idx from user
         where 1 = 1
            and public_type = 'Y'
            and profile_msg like CONCAT('%', #{keyword}, '%')
            or uer_name like CONCAT('%', #{keyword}, '%')
    </select>
</mapper>