<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.studygram.mapper.SearchMapper">
    <select id="searchPostList" parameterType="String" resultType="Post">
        select *
        from post
        where 1 = 1
          and post.content like concat('%', #{keyword}, '%')
          and post.user_idx in (select user.idx from user where public_type = 'Y')
        order by (select count(*) from `like` where post_idx = post.idx) desc
    </select>

    <select id="searchTagList" parameterType="String" resultType="Tag">
        select t.idx, t.content, count(pt.post_idx) as post_cnt
        from tag t
           left outer join post_tag pt on t.idx = pt.tag_idx
        where 1 = 1
          and t.content like concat('%', #{keyword}, '%')
        group by t.idx
        order by case
                     when t.content = #{keyword} then 0
                     when t.content = #{keyword} +'%' then 1
                     when t.content = '%'+ #{keyword} +'%' then 2
                     when t.content = '%'+ #{keyword} then 3
                     else 4 end
    </select>

    <select id="searchAccountList" parameterType="String" resultType="User">
        select u.idx, u.user_name, u.profile_msg, u.profile_image_url, u.full_name, count(fl.idx) as followers_cnt
        /* 프로필 사진 join 필요 */
        from user u
            left outer join follow fl on u.idx = fl.to_user_idx
        where 1 = 1
            and u.user_name like concat('%', #{originKeyword}, '%')
            or u.profile_msg like concat('%', #{originKeyword}, '%')
            or u.full_name like concat('%', #{originKeyword}, '%')
        <if test="newKeyword != null">
            or u.user_name like concat('%', #{newKeyword}, '%')
            or u.profile_msg like concat('%', #{newKeyword}, '%')
            or u.full_name like concat('%', #{newKeyword}, '%')
        </if>
        group by u.idx
        order by case
            when u.user_name = #{originKeyword} then 0
            <if test="newKeyword != null">
                when u.user_name = #{newKeyword} then 1
            </if>
            when u.profile_msg = #{originKeyword} then 2
            <if test="newKeyword != null">
                when u.profile_msg = #{newKeyword} then 3
            </if>
            when u.full_name = #{originKeyword} then 4
            <if test="newKeyword != null">
                when u.full_name = #{newKeyword} then 5
            </if>
        else 6 end
    </select>

</mapper>
