<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.studygram.mapper.UserRefreshTokenMapper">
    <select id="findUserIdxByClientId" parameterType="String" resultType="Integer">
        select idx from user where client_id = #{clientId}
    </select>
    <select id="findByClientId" parameterType="String" resultType="UserRefreshToken">
        select * from user_refresh_token where client_id = #{clientId}
    </select>

    <select id="findByUserIdxAndRefreshToken" parameterType="String" resultType="UserRefreshToken">
        select * from user_refresh_token where client_id = #{clientId} and refresh_token = #{refreshToken}
    </select>

    <update id="updateRefreshToken" parameterType="UserRefreshToken">
        update user_refresh_token set refresh_token = #{refreshToken} where client_id = #{clientId}
    </update>

    <insert id="saveAndFlush" parameterType="UserRefreshToken">
        insert into user_refresh_token (client_id, refresh_token)
        values(#{clientId}, #{refreshToken})
    </insert>


</mapper>