<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.studygram.mapper.UserMapper">
    <select id="findByUserId" parameterType="String" resultMap="User">

    </select>

    <select id="findByEmailId" parameterType="String" resultMap="User">

    </select>

    <select id="saveAndFlush" parameterType="User" resultMap="User">

    </select>
</mapper>