<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.studygram.mapper.UserMapper">
    <resultMap id="UserResultMapUserName" type="com.studygram.domain.User">
        <id column="idx" property="idx"/>
        <result column="user_name" property="userName"/>
        <result column="full_name" property="fullName"/>
        <result column="phone_num" property="phoneNum"/>
        <result column="email_addr" property="emailAddr"/>
        <result column="client_id" property="clientId"/>
        <result column="provider_type" property="providerType"/>
        <result column="role_type" property="roleType"/>
        <result column="profile_msg" property="profileMsg"/>
        <result column="public_type" property="publicType"/>
        <result column="created_date" property="createdDate"/>
        <result column="last_login_date" property="lastLoginDate" />
        <collection property="profileImageUrl" column="user_name" ofType="profile_image_url" select="com.studygram.mapper.ImageMapper.findRecentImageByUserName"/>
        <collection property="postCnt" column="user_name" select="com.studygram.mapper.PostMapper.countPostsByUserName"/>
        <collection property="followingCnt" column="user_name" select="com.studygram.mapper.FollowMapper.countFollowingsByUserName"/>
        <collection property="followersCnt" column="user_name" select="com.studygram.mapper.FollowMapper.countFollowersByUserName"/>
    </resultMap>

    <resultMap id="UserResultMapClientId" type="com.studygram.domain.User">
        <id column="idx" property="idx"/>
        <result column="user_name" property="userName"/>
        <result column="full_name" property="fullName"/>
        <result column="phone_num" property="phoneNum"/>
        <result column="email_addr" property="emailAddr"/>
        <result column="client_id" property="clientId"/>
        <result column="provider_type" property="providerType"/>
        <result column="role_type" property="roleType"/>
        <result column="profile_msg" property="profileMsg"/>
        <result column="public_type" property="publicType"/>
        <result column="created_date" property="createdDate"/>
        <result column="last_login_date" property="lastLoginDate" />
        <collection property="profileImageUrl" column="client_id" select="com.studygram.mapper.ImageMapper.findRecentImageByClientId"/>
        <collection property="postCnt" column="client_id" select="com.studygram.mapper.PostMapper.countPostsByClientId"/>
        <collection property="followingCnt" column="client_id" select="com.studygram.mapper.FollowMapper.countFollowingsByClientId"/>
        <collection property="followersCnt" column="client_id" select="com.studygram.mapper.FollowMapper.countFollowersByClientId"/>
    </resultMap>

    <resultMap id="UserResultMapIdx" type="com.studygram.domain.User">
        <id column="idx" property="idx"/>
        <result column="user_name" property="userName"/>
        <result column="full_name" property="fullName"/>
        <result column="phone_num" property="phoneNum"/>
        <result column="email_addr" property="emailAddr"/>
        <result column="client_id" property="clientId"/>
        <result column="provider_type" property="providerType"/>
        <result column="role_type" property="roleType"/>
        <result column="profile_msg" property="profileMsg"/>
        <result column="public_type" property="publicType"/>
        <result column="created_date" property="createdDate"/>
        <result column="last_login_date" property="lastLoginDate" />
        <collection property="profileImageUrl" column="idx" select="com.studygram.mapper.ImageMapper.findRecentImageByUserIdx"/>
        <collection property="postCnt" column="idx" select="com.studygram.mapper.PostMapper.countPostsByUserIdx"/>
        <collection property="followingCnt" column="idx" select="com.studygram.mapper.FollowMapper.countFollowingsByUserIdx"/>
        <collection property="followersCnt" column="idx" select="com.studygram.mapper.FollowMapper.countFollowersByUserIdx"/>
    </resultMap>

    <select id="findByUserIdx" resultType="User">
        select * from user where idx = #{idx}
    </select>
    <select id="findByUserName" parameterType="String" resultType="User">
        select * from user where user_name=#{userName}
    </select>

    <select id="findByClientId" parameterType="String" resultType="User">
        select * from user where client_id=#{clientId}
    </select>

    <select id="findInfoByClientId" parameterType="String" resultMap="UserResultMapClientId">
        SELECT * FROM `user` WHERE client_id=#{clientId}
    </select>

    <select id="findInfoByUserName" parameterType="String" resultMap="UserResultMapUserName">
        SELECT * FROM `user` WHERE user_name=#{userName}
    </select>

    <select id="findByEmailAddr" parameterType="String" resultType="User">
        select * from user where email_addr=#{emailAddr}
    </select>

    <insert id="save" parameterType="User">
        insert into user (user_name, full_name, passwd, phone_num, email_addr, client_id, provider_type, role_type, profile_image_url)
            values(#{userName}, #{fullName}, #{passwd}, #{phoneNum}, #{emailAddr}, #{clientId}, #{providerType}, #{roleType}, #{profileImageUrl})
    </insert>

    <select id="selectAll" resultType="User">
        select * from user
    </select>

    <update id="updateUser" parameterType="User">
        update user set user_name = #{userName}
            where client_id = #{clientId}
        return user_name;
    </update>

    <!-- User 로 하면 안된다,,? -->
    <update id="updateUserInfo" parameterType="User">
        update user set profile_msg = #{profileMsg}, public_type = #{publicType}
        where idx = #{idx}
    </update>


</mapper>