button {
  border: 0;
  order: 0;
  background: white;
  /*height: 22px;*/
  font-weight: bold;
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.6);
}
.modal button {
  outline: none;
  cursor: pointer;
  border: 0;
}
.modal > section {
  width: 100%;
  max-width: 800px;
  height: 80%;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 40px;
  border-radius: 0.3rem;
  background-color: #fff;
  /* 팝업이 열릴때 스르륵 열리는 효과 */
  animation: modal-show 0.3s;
  overflow: hidden;
}
.modal section.postMoal-sec {
  padding: 0;
}
.modal > section.like {
  width: 30%;
}
.modal > section > header {
  position: relative;
  padding: 16px 64px 16px 16px;
  background-color: #f1f1f1;
  font-weight: 700;
  height: 20px;
}
.modal > section > form > header > button {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 30px;
  font-size: 21px;
  font-weight: 700;
  text-align: center;
  color: #fff;
  background-color: transparent;
}
.modal > section > form > main {
  width: 100%;
  border-bottom: 1px solid #dee2e6;
  border-top: 1px solid #dee2e6;
  padding-top: 0;
  padding-bottom: 0;
  height: 500px;
  overflow: hidden;
  display: flex;
}
.modal > section > form > main > .file {
  border-right: 1px solid #dee2e6;
  padding: 0;
}
.modal > section > form > main > textarea {
  height: 100%;
}
.modal > section > form > main > .file > .imageSelect,
.deleteBtn {
  padding-left: 16px;
}
.modal > section > form > main > .file > div {
  padding-top: 25px;
}

.modal > section > form > main > .file > .imageSelect {
  position: relative;
  padding: 0;
}
.modal > section > form > main > .file > .imageSelect > input{
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
}
.modal > section > form > main > .file input::file-selector-button {
  display: none;
}
.modal > section > form > main > .postContent > textarea {
  height: 85%;
}
.modal > section > form > main > .postContent > .myProfile {
  height: 20px;
  padding: 0;
}
.modal > section > form > main > .postContent > .myProfile > img {
  width: 30px;
  height: 30px;
  margin: 0;
}
.modal > section > form > main > .postContent > .myProfile > div {
  margin-left: 10px;
}
.modal > section > form > main > div {
  flex: 1;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 13px;
  margin: 0;
}
.modal > section > form > footer {
  text-align: right;
  display: flex;
  justify-content: flex-end;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 16px;
}
.modal > section > form > footer > button {
  color: #3897f0;
  font-weight: bold;
}
.modal.openModal {
  display: flex;
  align-items: center;
  /* 팝업이 열릴때 스르륵 열리는 효과 */
  animation: modal-bg-show 0.3s;
}
.follow-button {
  color: white;
  background: #3897f0;
}

.postModal {
  display: flex;
  align-items: center;
  min-height: 400px;
  height: 100%;
}

.postModal > .file {
  flex-grow: 1;
}

.postModal > .file > img {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
}

.postModal > .postContent {
  flex-grow: 1;
  color: black;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.postModal > .postContent > .content {
  overflow-y: scroll;
  padding-top: 10px;
  padding-bottom: 5px;
  height: calc(100% - 200px);
  margin-top: 0;
}
.postModal > .postContent > textarea {
  height: 85%;
}
.postModal > .postContent > .myProfile, .postModal > .postContent > .content {
  border-bottom: 1px solid #EBEDF0;
  margin: 0;
  padding: 0;
}
.postModal > .postContent > .myProfile > img {
  width: 30px;
  height: 30px;
  margin: 0;
}
.postModal > .postContent > .content > .myProfile {
  height: 40px;
  margin: 0;
  display: inline-flex;
}
.postModal > .postContent > .content > .myProfile > img {
  width: 30px;
  height: 30px;
  margin: 0;
}
.postModal > .postContent > .myProfile > div {
  margin-left: 10px;
}
.postModal > .postContent > .content > .post-content{
  display: inline-flex;
}
.modal > section > button {
  padding: 16px 64px 16px 16px;
  font-weight: 700;
  height: 20px;
  position: absolute;
  top: 15px;
  right: 15px;
  width: 30px;
  font-size: 21px;
  text-align: center;
  color: #fff;
  background-color: transparent;
}

@keyframes modal-show {
  from {
    opacity: 0;
    margin-top: -50px;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}
@keyframes modal-bg-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modal.savepost section{
  display: flex;
  flex-grow: 1;
  padding: 0;
  margin: 0 auto;
}

.modal.savepost section form {
  flex-grow: 1;
}

.modal.savepost section form header {
  display: flex;
  justify-content: normal;
  align-items: baseline;
  font-size: 15px;
  padding: 20px 0 20px 10px;
}

.modal.savepost section form main {
  height: 80%;
}

.modal.savepost section form footer {
  padding: 20px 10px 20px 0;
}