#title_txt {
    padding-bottom: 30px;
    border: none;
    font-size: 22px;
    border-bottom: solid 1px #ababab;
    font-weight: bold;
}

#title_txt:focus { outline : none; }

#content_txt {
    width: 95%;
    resize: none;
    border: none;
}

#content_txt:focus { outline : none; }

#post_submit {
    text-align: center;
    margin-top: 30px;
}

#post_submit button {
    width: 120px;
    padding: 5px;
    border-radius: 5px;
    border: solid 1px #ababab;
    cursor: pointer;
    background-color: white;
}